{% extends "base.html" %}
{% load static %}

{% block title %}Подбор продуктов{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}?v=5">
    <style>
        .page-wrapper {
            padding: 20px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="page-wrapper p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div class="card-heading"></div>
                    <div class="card-body">
                        <h2 class="title">Healthy Hub</h2>
                        <h4>Подбор продуктов с учетом ваших ограничений</h4>
                        <br /><br /><br />
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="input-group" style="display: flex; align-items: center; gap: 10px;">
                                {{ form.health_profile.label_tag }}
                                {{ form.health_profile }}
                            </div>
                            <div class="input-group inline-field">
                                {{ form.calorie_goal.label_tag }}
                                {{ form.calorie_goal }}
                            </div>                        
                            <div class="input-group" style="display: flex; align-items: center; gap: 10px; margin-top: 50px;">
                                {{ form.exclude_ingredients.label_tag }}
                                {{ form.exclude_ingredients }}
                            </div>
                            <br><br>
                        <button type="submit" class="btn btn--radius btn--green">Рассчитать</button>
                    </form>

                    {% if result %}
                        <h3>Рацион для профиля "{{ result.health_profile }}" и цели {{ result.calorie_goal }} ккал:</h3>

                        <table class="nutrition-table">
                            <thead>
                            <tr>
                                <th class="nutrition-th">Продукт</th>
                                <th class="nutrition-th">Порция (г)</th>
                                <th class="nutrition-th">Белки</th>
                                <th class="nutrition-th">Жиры</th>
                                <th class="nutrition-th">Углеводы</th>
                                <th class="nutrition-th">Цена (₽)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in result.items %}
                                <tr class="nutrition-row">
                                <td class="nutrition-td name">{{ item.name }}</td>
                                <td class="nutrition-td">{{ item.portion|floatformat:1 }}</td>
                                <td class="nutrition-td">{{ item.proteins|floatformat:2 }}</td>
                                <td class="nutrition-td">{{ item.fats|floatformat:2 }}</td>
                                <td class="nutrition-td">{{ item.carbs|floatformat:2 }}</td>
                                <td class="nutrition-td">{{ item.price|floatformat:2 }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <p><strong>Итоговая стоимость:</strong> {{ result.total_price|floatformat:2 }} ₽</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</html>
