{% load static %}
<!DOCTYPE html>
<html lang="ru">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Smart CalorieMax{% endblock %}</title>

    <!-- Шрифты -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <!-- Общие стили -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block extra_head %}{% endblock %}
</head>


    <body>

        <header class="header" id="header">
            <div class="container">
                <div class="header__inner">
                <div class="header__logo">Cuanto</div>
                
                <navigation class="nav">
                    <a class="nav__link" href="#" data-scroll="#about">About</a>
                    <a class="nav__link" href="#">Sevice</a>
                    <a class="nav__link" href="#">Blog</a>
                    {% if user.is_authenticated %}
                        <a class="nav__link" href="{% url 'profile' %}">Мой профиль</a>
                    {% endif %}
                    <a class="nav__link" href="{% url 'nutrition_calculator' %}">Calc</a>
                    {% if user.is_authenticated %}
                        <a class="nav__link" href="{% url 'logout' %}">Выход</a>    
                    {% else %}
                        <a class="nav__link" href="{% url 'login' %}">Вход</a>
                    {% endif %}

                </navigation>   
                </div>
            </div>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>